{% extends '@MyAppEsprit/views/templatevide.html.twig' %}
{% block liste %}
<center>
<strong>You are the weener this Month</strong><br>
<strong>You have only 10 minutes to choose the best trip</strong></br>
<strong>Good Luck</strong><br>
</center>
<div align="center">
    <a class="btn p-follow-btn pull-left" href="{{ path('ween_TripProgram_minuteur') }}">GO</a>
</div>

{% endblock %}
