<table>
    <tr>

            <td> image </td>
            <td> dfgkdfkldsfkldsf qsdlfkqmlsdfkqmlsdkf qsdfkqlsdkfq <br> qsdlkqsdlmkqlsdk  sdkqlskdmqlskdmqlsd</td>
            <td> Prix </td>

    </tr>

    <tr>

        <td> </td>
        <td> j'aime </td>
        <td> Rating </td>
    </tr>

    <tr>
    <td> <input type="button" value="comment"></td>
        <td> <textarea> </textarea></td>
    </tr>

</table>