<center><form>
<table>

    <tr>
        <td><a href="{{ path('my_app_esprit_ajouterAirline')}}">Add new airline company</a></td>
    </tr>

    <tr>
       <td><a href="{{ path('my_app_esprit_showallairline') }}">Show All airline company</a></td>
    </tr>

    <tr>
        <td><a href="{{ path('my_app_esprit_search') }}">Lookup for airline company ?</a></td>
    </tr>

    <tr>
        <td><a href="">Back to main menu</a></td>
    </tr>
</table>
</form></center>